:root {
  --main-color: #E84C3D;
}

h1 {
  font-size: 3rem;
}

img {
  max-width: 100%;
}

.contact {
  background-color: var(--main-color);
  color: white;
  padding: 2rem;
}

.contact a, .not-a-link {
  color: black;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.profile__name {
  font-weight: bold;
}

.profile__picture {
  width: 15vw;
  border-radius: 100%;
}

.profile__picture--matrix {
/*   object-fit: none;
  object-position: 30% 55%; */
}
