:root {
  --main-color: #E84C3D;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2rem;
  margin: 2rem 0;
}

img {
  max-width: 100%;
}

small {
  font-size: .8rem;
}

li + li {
  margin-top: 2rem;
}

.section {
  padding: 2rem;
}

.section:nth-child(odd) {
  background-color: var(--main-color);
  color: white;
}

.profile {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.profile__name {
  font-weight: bold;
}

.profile__picture {
  width: 15vw;
  border-radius: 100%;
}

.link {
  color: black;
}

.list--explicit {
  list-style: disc inside;
}

.list--short li + li {
  margin-top: .5rem;
}
